<%include ../partials/header%>

	<div class="row">
		<h1 style="text-align:center">Create a new campground!</h1>
		<div class="centered-form">
			<form action="/campgrounds" method="post">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="name" name="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="image link" name="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="description" name="description">
				</div>
				<div class="form-group">
					<div class="currency-span form-control">
						<span class="currency-symbol">$</span>
						<input class="currency-input" type="number" placeholder="price per night" name="price" min="0" step="0.01" required>
					</div>
				</div>
				<div class="form-group">
					<label for="location"></label>
					<input id="location" placeholder="Yosemite Nat'l Park, CA" type="text" name="location" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-large btn-primary btn-block" type="Submit">Submit!
					</button>
				</div>
			</form>
			<a href="/campgrounds">Back</a>
		</div>
	</div>

<%include ../partials/footer%>